---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About this Astrolabe"
	description="Now wol I preie mekely every discret persone that redith or herith this litel tretys"
	pubDate={new Date('June 01 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		TODO
	</p>
</Layout>
