---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="w-full">
				<img src="/magitech-transparent.png" alt="Magitech Logo" style="width: 300px; display: block; margin: 0 auto;" class="h-auto" />
			</div>
			hello
		</main>
		<Footer />
	</body>
</html>
