---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/"><img src="/astrolabist.png" alt="Astrolabist" /></a></h2>
		<div class="internal-links">
			<!--<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>-->
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0;
		background: #FFFFFF;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		width: auto;
		position: relative;
		left: unset;
		right: unset;
		margin-left: calc(-1 * env(safe-area-inset-left));
		margin-right: calc(-1 * env(safe-area-inset-right));
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		padding: 0.5em 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
	h2 img {
		height: 90px;
		width: auto;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
